<!DOCTYPE html>
<html>
<head>
  <title>FrontendTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="menuImage">
    <img src="/assets/map.png" alt="Hello There">
    <img src="/assets/teachable-logo.png" alt="teachable">
    <button class="search" type="button" name="button">Search</button>
    <button class="favorite" type="button" name="button">Favorites</button>
  </div>
  <%= yield  %>

</body>
</html>
